.about {
    display: flex;
    padding: 6rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: $tablet) {
      flex-direction: column;
    }

   @media (max-width: $smaller-devices) {
    padding: 4rem 1rem;
   }
}

.about__info {
    max-width: 40ch;
    flex-basis: 50%;
}

.about__portrait {
    align-self: flex-end;
    @media (max-width: $tablet) {
        display: flex;
        justify-content: left;
        height: auto;
        padding: 0;
        align-self: center;
  }
}

.about__image {
    display: block;

    @media (max-width: $tablet) {
        width: 80%;
        height: auto;
        border-radius: 50%;
        margin: auto;
  }
}

.about__icon {
    color: $primary-dark;
}

.about__links {
    display: flex;
    gap: 0.5rem;

    @media (max-width: $smaller-devices) {
        align-items: center;
  }
}

.about__cv {
    display: none;

    @media (max-width: $smaller-devices) {
        display: block;
        height: 1.8rem;
  }
}