#about {
    padding: 100px;
    margin: 20px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    &__info {
        width: 630px;
        height: 50vh;
        display: flex;
        flex-direction: column;

        h1,
        h4 {
            margin-top: 0;
        }
    }

    &__social {
        display: flex;
        gap: 0.5em;

        a .fa-brands {
            color: $primary-dark;
        }
    }

    &__img {
        height: 50vh;
        padding-top: 50px;

        img{
            margin: auto;
        }
       
    }

    &__text {
        text-align: justify;
        text-justify: inter-word;
    }
}