#about {
    padding: 100px;
    margin: 20px;
}

.about {
    display: grid;
    grid-template-columns: auto 630px;
    justify-content: center;
    align-items: center;
    gap: 2em;

    &__info {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1,
        h4 {
            margin-top: 0;
        }
    }

    &__social {
        display: flex;
        gap: 0.5em;

        a .fa-brands {
            color: $dark;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        height: 50vh;
    }

    &__text {
        text-align: justify;
        text-justify: inter-word;
    }
}