.contact {
    padding: 1rem 2rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: $primary-dark;
    color: $primary-light;

    @media (max-width: $tablet) {
        flex-direction: column;
        padding: 0;
    }
}

.contact__col {
    text-align: center;
    flex-basis: calc(33% + 2.2rem);
}

.contact__heading {
    font-size: xx-large;
    font-weight: 600;
    margin: 1rem;
}

.contact__subheading {
    font-size: larger;
    margin: 0.5em;
}

.contact__link {
    text-decoration: underline;
    color: $primary-light;
    font-size: $text;
}
