#contact{
    padding: 0 100px;
    margin: 0;
}

.contact {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    background-color: $primary-dark;
    color: $primary-light;

    a {
        text-decoration: underline;
        color: $primary-light;
    }

    &__heading{
        font-size:xx-large;
    }

    &__subheading{
        font-size: larger;
        margin: 0.5em;
    }

    &__text{
        font-size: $text;
        margin: 0.5;
    }

}

@media only screen and (max-width: $mobile){
    .contact{
        display: flex;
        flex-direction: column;

        &__item{
            text-align: center;
        }


        
    }
}

