.cover {
    background-image: 
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M 1200,0 0,82 V 120 h 1200 z' fill='hsl(0 0% 0% / 50%)'></path></svg>"),
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
        url("../img/header.png");
    background-size:
        100% 200px,
        cover,
        cover;
    background-position: 
        0 100%,
        40% 60%,
        40% 60%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    filter: saturate(20%);

    @media (max-width: $smaller-devices) {
        display: none;
    }

    @media (max-width: $tablet) {
        background-image: 
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
            url("../img/header.png");
        background-size: cover;
        background-position: 30% 70%;
    }

    &:hover {
        filter: saturate(80%);
        transition: 3ms;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cover__content {
    animation: change-opacity 2s ease-out;
}

@keyframes change-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.cover__title {
    font-size: $title;
    font-weight: bold;
    color: $primary-light;
    margin: 0;
}

.cover__text {
    margin: 1.25rem;
    font-size: $subtitle;
    text-align: center;
    color: $primary-light;
}

.cover__btn {
    display: inline-block;
    border: none;
    padding: 0.625rem 2.75rem;
    border-radius: 0.3125rem;
    margin-top: 1.25rem;
    background-color: $primary-light;
    text-align: center;
    font-size: $text;
    text-decoration: none;
    cursor: pointer;
}
