.custom-shape-divider-bottom-1655648853 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  filter: opacity(50%);
}

.custom-shape-divider-bottom-1655648853 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 204px;
  transform: rotateY(180deg);
}

.cover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 40% 60%;
  filter: saturate(20%);
  position: relative;

  &:hover {
    filter: saturate(80%);
    transition: 3ms;
  }

  .txt-animation {
    animation: animation 2s ease-out;
  }

  @keyframes animation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    font-size: $title;
    font-weight: bold;
    color: $primary-light;
    margin: 0;
  }

  &__text {
    margin: 20px;
    font-size: $subtitle;
    color: $primary-light;
    text-align: center;
  }

  &__btn {
    background-color: $primary-light;
    border: none;
    border-radius: 5px;
    padding: 10px 44px;
    text-align: center;
    font-size: $text;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
  }
}

@media only screen and (max-width: $smaller-devices) {
  .cover {
    display: none;
  }
}

@media only screen and (max-width: $tablet) {
  .cover {
    background-position: 30% 70%;
  }

  .custom-shape-divider-bottom-1655648853 {
    display: none;
  }
}