#experience {
    padding: 100px;
    
    h1{
        text-align: center;
    }

    ul {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       padding-left: 0;
       gap: 30px;
    }
}

.experience{
    height: 300px;
    display: flex;
    flex-direction: column ;
    background-color: $block;
    text-align: center;
    justify-content: center;
    padding: 25px 60px;

    &__title{
        font-size: $blocktitle;
    }
}



