#experience {
    padding: 100px;
    
    h1{
        text-align: center;
    }

    ul {
       /* display: grid;
       grid-template-columns: repeat(3, 1fr); */
       display: flex;
       padding-left: 0;
       gap: 1.2rem;
    }
}

.experience{
    flex: 1 1 0;
    display: flex;
    flex-direction: column ;
    background-color: $block;
    text-align: center;
    justify-content: center;
    padding: 1.8rem 3.75rem;

    &__title{
        font-size: $blocktitle;
    }
}

@media only screen and (max-width: $mobile){
    #experience ul{
        display: flex;
        flex-direction: column;
    }

    .experience{
        flex-grow: 1;
    }
}