*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $primary-font;
  background-color: $primary-light;
  color: $primary-dark;
  font-size: $text;
}

h2 {
  font-size: $title;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}