*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $primary-font;
  background-color: $primary-light;
  color: $primary-dark;
  font-size: $text;
}
