html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
  background-color: $light;
  font-size: $text;
}

main{
  margin:0;
  display: flex;
  flex-direction: column;
}

ul{
  list-style-type: none;
}

.section__title{
font-size: $title;
}
