.projects {
    padding: 1rem 5rem;
}

.project {
    display: flex;
    margin-top: 2rem;
    
    @media (max-width: $tablet) {
        flex-direction: column;
        margin-bottom: 3rem;
    }
}

.project__info {
    text-align: left;
    
    @media (max-width: $tablet) {
        text-align: center;
    }
}

.project__image {
    display: block;
    width: 40%;
    margin-right: 3rem;
    
    @media (max-width: $tablet) {
        width: 100%;
    }
}
