.projects {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.projects__project {
    display: flex;
    margin-top: 2rem;
    column-gap: 3rem;
    max-width: 1400px;
    margin-inline: auto;

    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

.projects__info {
    text-align: left;
    line-height: 1.3;
    
    @media (max-width: $tablet) {
        text-align: center;
    }
}

.projects__image {
    display: block;
    width: 50%;
    
    @media (max-width: $tablet) {
        width: 100%;
    }
}
