#skills{
    padding: 100px;
}

.skills{
    text-align: center;
    background-color: $dark;
    color: $light;
    display: flex;
    flex-direction: column;

    h1{
        padding: 0;
        margin-top: 0;
    }

&__list{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
}