#skills{
    background-color: $dark;
    color: $light;
    padding: 90px 90px;
    
}

.section__title{
    text-align: center;
    font-size: $title;
    margin-top: 0;
}

.section__list{
    display: grid;
    grid-template-columns: repeat(3, 400px );
    gap: 30px;
   
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
   
}