//Colors
$primary-dark: #393D3F;
$primary-light: #F7F5FB;
$active: #909090;
//$active: #c76868;
$block: #d7d5da;

//Fonts
$primary-font: 'Montserrat', sans-serif;
$text: 16px;
$title: 40px;
$subtitle: 32px;
$blocktitle: 20px;

//Viewport
$smaller-screen: 1100px;                                                                                                                                                                                                                                                                                                                                                                                                                                                            
