//Colors
$primary-dark: #393D3F;
$primary-light: #F7F5FB;
$active: #909090;
//$active: #c76868;
$block: #d7d5da;

//Fonts
$primary-font: 'Montserrat', sans-serif;
$text: 1rem;
$title: 2.5rem;
$subtitle: 2rem;
$blocktitle: 1.25rem;

//Screen
$smaller-devices: 480px;
$mobile: 640px;
$tablet: 1025px;
