html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #F7F5FB;
  font-size: 16px;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.section__title {
  font-size: 40px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #393D3F;
  padding: 10px 40px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1.5em;
}
.menu__item {
  padding: 0 10px;
}
.menu__link {
  color: #F7F5FB;
  text-decoration: none;
  font-size: larger;
}
.menu__link:hover {
  color: #909090;
  transition: 0.4s;
}

.custom-shape-divider-bottom-1655648853 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655648853 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 204px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1655648853 .shape-fill {
  fill: #393d3f;
}

.cover {
  margin: 0;
  padding: 0;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../img/header_1.png"), no-repeat;
  background-size: 100%;
  filter: grayscale(1);
  position: relative;
}
.cover .txt-animation {
  -webkit-animation: animation 2s ease-out;
          animation: animation 2s ease-out;
}
@-webkit-keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cover__title {
  font-size: 40px;
  font-weight: bold;
  color: #F7F5FB;
  margin: 0;
}
.cover__text {
  margin: 20px;
  font-size: 20px;
  color: #F7F5FB;
}
.cover__btn {
  background-color: #F7F5FB;
  border: none;
  border-radius: 5px;
  padding: 10px 44px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

#about {
  padding: 80px 100px;
}

.about {
  display: grid;
  grid-template-columns: auto 630px;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.about__info {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about__info h1,
.about__info h4 {
  margin-top: 0;
}
.about__social {
  display: flex;
  gap: 0.5em;
}
.about__social a .fa-brands {
  color: #393D3F;
}
.about__img {
  display: flex;
  justify-content: center;
  height: 50vh;
}
.about__text {
  text-align: justify;
  text-justify: inter-word;
}

.skills {
  background-color: #393D3F;
  color: #F7F5FB;
  padding: 90px 90px;
  display: flex;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.footer {
  margin: 0;
  background-color: #393D3F;
  color: #F7F5FB;
  font-size: smaller;
  text-align: center;
  padding: 20px;
}
.footer p {
  margin: 0;
}/*# sourceMappingURL=style.css.map */