*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f5fb;
  color: #272632;
  font-size: 1rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #272632;
  padding: 0.8rem 2rem;
  z-index: 100;
}
@media (max-width: 640px) {
  .header {
    flex-direction: column;
  }
}

.menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .menu {
    flex-direction: column;
    height: 1.5rem;
  }
}

.menu__list {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .menu__list {
    display: none;
    background-color: #272632;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
  }
}

@media (max-width: 640px) {
  .menu__list--opened {
    display: flex;
    width: 100vw;
    padding: 0.5rem;
  }
}

.menu__link {
  display: block;
  padding: 0 1rem;
  font-size: larger;
  color: #f7f5fb;
  text-decoration: none;
}
.menu__link:hover {
  color: #909090;
  transition: 0.4s;
}
@media (max-width: 640px) {
  .menu__link--home {
    display: none;
  }
}

.menu__btn {
  display: none;
  position: absolute;
  flex-direction: column;
  right: 0.5rem;
  width: 30px;
  height: 21px;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}
@media (max-width: 640px) {
  .menu__btn {
    display: flex;
  }
}

.menu__bar {
  width: 100%;
  height: 3px;
  background-color: #f7f5fb;
  border: 10px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 640px) {
  .menu__btn--opened > .menu__bar:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
  }
  .menu__btn--opened > .menu__bar:nth-child(2) {
    opacity: 0;
  }
  .menu__btn--opened > .menu__bar:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
  }
}

.cover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M 1200,0 0,82 V 120 h 1200 z' fill='hsl(0 0% 0% / 50%)'></path></svg>"), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../img/header.png");
  background-size: 100% 200px, cover, cover;
  background-position: 0 100%, 40% 60%, 40% 60%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  filter: saturate(20%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 480px) {
  .cover {
    display: none;
  }
}
@media (max-width: 1025px) {
  .cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../img/header.png");
    background-size: cover;
    background-position: 30% 70%;
  }
}
.cover:hover {
  filter: saturate(80%);
  transition: 3ms;
}

.cover__content {
  animation: change-opacity 2s ease-out;
}

@keyframes change-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cover__title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f7f5fb;
  margin: 0;
}

.cover__text {
  margin: 1.25rem;
  font-size: 2rem;
  text-align: center;
  color: #f7f5fb;
}

.cover__btn {
  display: inline-block;
  border: none;
  padding: 0.625rem 2.75rem;
  border-radius: 0.3125rem;
  margin-top: 1.25rem;
  background-color: #f7f5fb;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.about {
  display: flex;
  padding: 6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1025px) {
  .about {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 4rem 1rem;
  }
}

.about__info {
  max-width: 40ch;
  flex-basis: 50%;
}

.about__portrait {
  align-self: flex-end;
}
@media (max-width: 1025px) {
  .about__portrait {
    display: flex;
    justify-content: left;
    height: auto;
    padding: 0;
    align-self: center;
  }
}

.about__image {
  display: block;
}
@media (max-width: 1025px) {
  .about__image {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin: auto;
  }
}

.about__icon {
  color: #272632;
}

.about__links {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 480px) {
  .about__links {
    align-items: center;
  }
}

.about__cv {
  display: none;
}
@media (max-width: 480px) {
  .about__cv {
    display: block;
    height: 1.8rem;
  }
}

.skills {
  padding: 1rem 5rem;
  background-color: #272632;
  color: #f7f5fb;
  text-align: center;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(25ch, (100% - 6rem) / 3), 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 3rem;
  justify-items: center;
}
@media (max-width: 480px) {
  .skills__list {
    grid-template-columns: 1fr;
  }
}

.skills__icon {
  height: 100px;
  width: 100px;
  padding: 1.25rem;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: #f7f5fb;
  color: #272632;
}

.experience {
  padding: 1rem 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 640px) {
  .experience {
    padding: 0 1rem 1rem;
  }
}

.experience__list {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
@media (max-width: 1025px) {
  .experience__list {
    flex-wrap: wrap;
  }
}

.experience__item {
  background-color: #ceced7;
  text-align: center;
  padding: 1rem;
  flex-basis: 33%;
  flex-grow: 0;
  flex-shrink: 1;
}
@media (max-width: 640px) {
  .experience__item {
    flex-basis: 90%;
    max-width: 40ch;
  }
}

.experience__title {
  margin-top: 0;
}

.projects {
  padding: 1rem 5rem;
}

.project {
  display: flex;
  margin-top: 2rem;
}
@media (max-width: 1025px) {
  .project {
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

.project__info {
  text-align: left;
}
@media (max-width: 1025px) {
  .project__info {
    text-align: center;
  }
}

.project__image {
  display: block;
  width: 40%;
  margin-right: 3rem;
}
@media (max-width: 1025px) {
  .project__image {
    width: 100%;
  }
}

.contact {
  padding: 1rem 5rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #272632;
  color: #f7f5fb;
}
@media (max-width: 1025px) {
  .contact {
    flex-direction: column;
  }
}

.contact__item {
  text-align: center;
}

.contact__heading {
  font-size: xx-large;
  font-weight: 600;
  margin: 1rem;
}

.contact__subheading {
  font-size: larger;
  margin: 0.5em;
}

.contact__link {
  text-decoration: underline;
  color: #f7f5fb;
  font-size: 1rem;
}

.footer {
  margin: 0;
  background-color: #272632;
  color: #f7f5fb;
  font-size: smaller;
  text-align: center;
  padding: 20px;
}
.footer p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
